*{
  box-sizing: border-box;
  margin:0 ;
  padding: 0;
}
/**variables a usar */
:root{}
html{
  font-size: 62.5%
}
body {
  padding: 2rem;
  overflow-x: hidden;
  font-family: "Roboto";
  background-color: #191c32;
}
